/*
* CSS styles for the textures generator UI
*
*
*/

.stimUI-chosen{
	background-color: #bdbdbd;
}

img.stimUI-thumbnail{
	display: block;
	margin: 5px auto;
}

table#stimUI-table{
	border-collapse:collapse;
	border: 1px solid black;
	border-radius: 5px;
	/* padding: 5px; */
}

table#stimUI-table td{
	padding:7px;
	border-left: 1px solid grey;
}