{% extends 'homepage.html' %}
{% load i18n %}
{% load static %}
{% load experiment_tags %}

{% block title %}
{{exp.verbose_name}}
{% endblock %}

{% block head %}
<script src="{% static "djexperiments/fileExplorer.js" %}"></script>
<script>

var expLabel = "{{ exp.label }}";

</script>
{% endblock %}

{% block percept-content %}
<div class="djpsych-percept-dashboard">
	<h1> {{ exp.verbose_name|upper }} Control Panel </h1>
	<section>
		<nav>
			{% for experiment in researcher_experiments %}
				<a href = "../{{experiment.label}}"> 
					{{experiment.verbose_name}}
				</a>
			{% endfor %}
		</nav>
	</section>
	<section>
		<button class="mdl-button mdl-js-button mdl-button--raised" id="tosandbox" onClick = "window.location = '{% url "webexp:sandbox" exp.label %}';">{% trans "Test the experiment" %}</button>
		<button class="mdl-button mdl-js-button mdl-button--raised" id="download-data" onClick = "window.location = '{% url "webexp:collect:all" exp.label %}';">{% trans "Collect the data" %}</button>
	</section>
	<section>
		<table id = "money_handler_table">
			<th><td colspan = 2>{% trans "Your money account" %}</td></th>
			<tr><td>{% trans "Money you have in your account for this experiment : " %}</td><td>{{exp.funds_remaining}} CAN$</td></tr>
			<tr><td>{% trans "Money you spent since the beginning of this experiment : "%}</td><td>{{exp.total_funds_added}} CAN$</td></tr>
			<tr><td colspan = 2><button class="mdl-button mdl-js-button mdl-button--raised" id = "increasing_money_account">{% trans "Transfer money to your account!" %}</button></td></tr>
		</table>
	</section>
	<section>
		<div>{% trans "Experiment's researcher group :"%} </div>
		<ul>
		{% for researcher in exp.research_group.user_set.all %}
			<li>
				{% if researcher.last_name and researcher.first_name %} 
					{{researcher.first_name}} {{researcher.last_name}} : {{researcher.email}}
				{% else %}
					{{researcher.username}} : {{researcher.email}}
				{% endif %}
			</li>
		{% endfor %}
		</ul>
		
	</section>
	
	<section>
		<h4>
			{% trans "Last participations" %}
		</h4>
		{% results exp 10 %}
	</section>
	
	<section id="explorer">
		{% include "djexperiments/explorer.html" %}
	</section>
	<dialog id="djpsych-upload-dialog" class="mdl-dialog">
		<h4 class="mdl-dialog__title">{% trans "File Upload" %}</h4>
		<form method="post" action="{% url "webexp:lobby" exp.label%}" enctype="multipart/form-data" name="djpsych-upload-dialog" id="djpsych-upload-dialog__form">
			<div class="mdl-dialog__content">
		      <input type="file" name="uploads" multiple/>
		      <input type="hidden" id="parentFolder" name="parent" />
		      <input type="hidden" id="action" name="action" value="add"/>
		    </div>
		    
		    <div class="mdl-dialog__actions">
		      <button type="button" class="mdl-button" action="submit" id="djpsych-upload-dialog__submit">{% trans "Upload" %}</button>
		      <button type="button" class="mdl-button close">{% trans "Nevermind" %}</button>
		    </div>
	    </form>
	</dialog>
</div>
{% endblock %}