{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<button id="tosandbox" onClick = "window.location = '{% url "webexp:sandbox" exp.label %}';">{% trans "Test the experiment" %}</button>
<button id="download-data" onClick = "window.location = '{% url "webexp:collect:all" exp.label %}';">{% trans "Collect the data" %}</button>
<table id = "money_handler_table">
<th><td colspan = 2>{% trans "Your money account" %}</td></th>
<tr><td>{% trans "Money you have in your account for this experiment : " %}</td><td>{{exp.funds_remaining}} CAN$</td></tr>
<tr><td>{% trans "Money you spent since the beginning of this experiment : "%}</td><td>{{exp.total_funds_added}} CAN$</td></tr>
<tr><td colspan = 2><button id = "increasing_money_account">{% trans "Transfer money to your account!" %}</button></td></tr>
</table>
{% endblock %}