{% extends 'homepage.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{{ exp.verbose_name }}{% endblock %}
{% block head %}
{{ block.super }}

{% for plugin in plugins %}
{% with script="jspsych-plugins/"|add:plugin%}
<script src="{% static script %}"></script>
{% endwith %}
{% endfor %}
{% for script in scripts %}
	{% with module="djexperiments/"|add:exp.label|add:"/"|add:script %}
	<script src="{% static module %}"></script>
	{% endwith %}
{% endfor %}
<script src="{% static "djPsych.js"%}"></script>
<script>
$(function(){
	function serverSideBegin(e){
        var top = document.getElementById("top").offsetTop;
        window.scrollTo(0, top);
        $("#jsPsychtarget").empty();
        $('#start').remove();
            
        //this is the function that must be defined by all experiments
        runExperiment();
	}

	djPsych.init("{{ exp.label }}", "{{ static_url }}", "{{ version }}")
	
	$("#start").click(function(e){
		if (document.getElementById("accept").checked) {
			serverSideBegin(e);
		}
		else{
			alert("veuillez cocher la case J'accepte / Please check the box I Accept");
		}
	})
	
	$("#begin-test").click(function(e){
		e.preventDefault();
		serverSideBegin(e);
		return false;
	})
})
</script>
{% endblock %}
{% block content %}

{% if not sandbox %}
<div id="jsPsychTarget">
	{% include consent %}
	
	<form name="consent" id="consent">
	    <fieldset>
	    <legend>{% trans "Consent" %}</legend>
	        <p>{% trans "I Hereby: " %} </p>
	        <ul>
	            <li>
	            {% trans "Recognize having read the present information and consent document;" %}</li>
	            <li>
	            {% trans "Voluntarily consent to participate in this experiment;" %}
	            </li>
	            <li>
	            {% trans "Understand the objectives of the project and what my participation entails;" %}
	            </li>
	            <li>
	            {% trans "Certify having been given a sufficient amount of time to decide of my participation;" %}
	            </li>
	            <li>
	            {% trans "Certify that the project coordinator (or his/her delegate) has answered my questions to my satisfaction; and" %}
	            </li>
	            <li>
	            {% trans "I understand that my participation to this study is completely voluntary and that I can retire from the experiment at any time, without any form of penalty or justification to provide." %}
	            </li>
	        </ul>
	        <div class="center">
	        	<label for="accept">{% trans "Accept" %}</label>
	        	<input type="checkbox" name="accept" id="accept" value="yes" />
	        </div>
	    </fieldset>
	</form>
</div>
<a href="#top" class="btn" id="start">{% trans "Start the experiment!" %}</a>
{% else %}
{# This is shown if the experiment is requested by a researcher #}
<div id="sandbox" class="full-width">
	<h2>{% trans "Researcher's sandbox" %}</h2>
	<div id="jsPsychTarget" style="border: 1px solid black;"></div>
	<div id="dashboard">
		<form id="controls" name="controls" action="/" method="post">
			<ul id="flow-controls">
				<li class="horizontal-li">
					<button id="begin-test">{% trans "Begin" %}</button>
				</li>
				<li class="horizontal-li">
					<button id="abort">{% trans "Abort" %}</button>
				</li>
				<li class="horizontal-li">
					<button id="end-block">{% trans "Skip block" %}</button>
				</li >
				<li class="horizontal-li">
					<button id="show-settings">{% trans "Show initial settings" %}</button>
				</li>
			</ul>
			{{ sandboxform }}
			<div id="textarea-hack" class="full-width">
				<textarea id="datadump" class="full-width"></textarea>
			</div>
		</form>
	</div>
</div>
<script>
$(function(){
	
})
</script>

{% endif %}


{% endblock %}