{% extends 'homepage.html' %}
{% load i18n %}

{% block percept-content %}
{{ lobby|safe }}
{% if exp.is_active %}
<button class="mdl-button mdl-js-button mdl-button--raised" id="launch" onClick = "window.location = '{% url "webexp:launch" exp.label%}';">{% trans "Participate!" %}</button>
<button class="mdl-button mdl-js-button mdl-button--raised" id="debrief" onClick = "window.location = '{% url "webexp:debrief" exp.label%}';">{% trans "Go to debrief" %}</button>
{% else %}
<p class="warning">{% trans "Sorry! this experiment is not currently active." %}</p>
{% endif %}
{% endblock %}