
@font-face{
    font-family: "Titillium-Web";
    src: url('Titillium_Web/TitilliumWeb-Regular.ttf');
}

@font-face{
    font-family: "Jura";
    src: url('Jura/Jura-DemiBold.ttf');
}

/************************************ Basic Defaults ******************************/

html, body, h1, h2 {
	font-family: "Titillium-Web", sans-serif; 
}

p {
	font-size: 18px;
}

a{
	text-decoration: none;
}
/********************** Homepage Styles ********************************/

#hidden-login{
	/* display: none; */
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	/* width: auto; */
}

#banner{
    height: 76px;
    width: 534px;
    position: relative;
    left: 0%;
}

#taglines{
	max-width:300px;
}

/* Change the layout__content class to Flex (instead of inline-block) to allow spacer to work. */
.mdl-layout__content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /* position: relative; */
    /* top: -148px; */
    /* justify-content: space-between; */
    /* overflow: hidden; */
    height: auto;
}

header#djpsych-header{
	
}

div#djpsych-header__top-row{
	margin-top: 16px;
}

#djpsych-index-spacer{
	width:100%;
	height: 20%;
}

.djpsych-index__below{
	/* margin-top: 31%; */
	/* color:white; */
	min-height: 344px;
}


#lab-crew{
	background-image: url("labstaff.jpg");
	background-size: cover;
	background-position: 51% 27%;
	/* min-height: 700px; */
	position: relative;
	top: 0px;
	px; */
	height: 2;
	height: 560px;
}

#rest{
	min-height:600px;
}

.djpsych-maincenter{
	width: 90%;
	margin: 0 auto;
	display:block;
}

.mdl-button--raised.mdl-button.provider-btn.provider-btn--google{
	background-color: #DD2C00;
}

.mdl-button--raised.mdl-button.provider-btn.provider-btn--facebook{
	background-color: #01579B;
}

.mdl-button.mdl-button--raised.provider-btn{
	color: white;
	width: 100%;
	margin-top: 10px;
}
/********************* Basic Rules *****************************/

dialog.mdl-dialog{
	
}

footer{
	flex-shrink:2;
}

.page-content{
	/* min-height:77vh; */
	flex-grow: 1;
	/* height: auto; */
	position: relative;
}
.ul--no-dots{
	list-style: none;
}

.ul--no-padding{
	padding-left:0;
}

.mdl-layout__header .mdl-navigation__link{
	font-family: "Titillium-Web", "sans-serif";
	font-size: 16px;
	color: #d23e0a;
}

.vertical-center-cont{
	display:flex;
	flex-direction: column;
  	justify-content: center;
}

#djpsych-webexp{
	/* margin:0 2%; */
	padding: 0px;
	/* height: 100%; */
	min-height: 77vh;
}

nav ul{
	list-style:none;
}
div.mdl-layout__container{
	/* height: 100vh; */
	/* min-height: 100vh; */
	/* height: auto; */
}

.row-flexcontainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
/***************************** Text-related rules **************************/

.extra-heavy{
	font-size: 24pts;
}
.right-align{
	text-align: right;
}

/******************************** PERCEPT styles ****************************/

h6, h5{
	font-family: "Titillium-Web";
}

#djpsych-percept-navbar h5 {
	margin-bottom: 0px;
	text-align:center;
}

#djpsych-percept-navbar h6 {
	margin-top: 0px;
	text-align:center;
}

#djpsych-percept-navbar{
	margin:0;
	background-color: #e6e6e6;
	align-self: stretch;
	flex-grow: 1;
}
.djpsych-percept-content{
	padding-left:20px;
	flex-grow: 1;
}

.djpsych-listmenu{
	padding-left: 0px;
}

.djpsych-listmenu__item{
	padding: 5px 5px 5px 10px;
	position: relative;
	overflow: hidden;
}

.djpsych-listmenu__item:HOVER{
	background-color: #d6d6d6;
	cursor: pointer;
}

.djpsych-listmenu--inner{
	padding-top:10px;
}
.djpsych-listmenu__item.djpsych-listmenu__item--sub:hover{
	background-color:inherit;
}

.djpsych-listmenu__item > a{
	height: 100%;
	width:100%;
	display: block;
	position:relative;
	overflow:hidden;
}

.djpsych-expcard{
	margin: 10px;
	min-width: 120px;
}
#djpsych-upload-dialog{
	
}
/**************************** jsPsych-related styles ***********************************/



.stim-table img{
	width:185px;
	margin: 5px;
}


div#jsPsychTarget{
	
overflow-y: auto;width: 90%;
	min-height: 100vh;
	/* display: flex; */
	margin: 20px auto;
	/* padding: 5% 0%; */
	position: relative;
	/* text-align: center; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
}

#top{
	/* display:none; */
}

.jspsych-genstim, .jspsych-sim-stim{
	display: inline-block;
	vertical-align: center;
}

#jsPsychTarget img{
	display:block;
}

.prompt, .feedback{
	text-align: center;
	font-size: 22pts;
}

#jspsych_sim_stim{
	margin-left: auto;
	margin-right: auto;
	display: block;
    height: 310px;
    width:  310px;
	}
	
#jspsych-categorize-stimulus{
    margin-left: auto;
	margin-right: auto;
	display: block;
    height: 310px;
    width:  310px;
}

#jspsych-sim-stim{
	height: 310px;
	width:  310px;
	margin: auto;
	display: block;
}

#fixationCross{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.fix{
    margin-top: 50px;
    height: 100px;
    width:  100px;
    }

img.loader{
    width: 30px;
    height: 30px;
}

#instructionsDown{
	text-align:center;
	}

#slider{
	display:block;
	background-image: url('sliderBackground.png');
	background-size:630px 56px;
	background-position: -10px -11px;
	width: 600px;
	height:26px;
	margin-top:25px;
    margin-left: auto;
    margin-right: auto;
	}	
	
#slider span.ui-slider-handle{
	background-image: url('zd_slider_widget_knob.gif');
	height:34px;
	width:17px;
	background-size:17px 34px;
	border: none;
	top:-4px;
	}

.ui-slider .ui-slider-handle:focus{
	border:none;
	}	
	
#jsPsychTarget #sliderlabels{
	/*
	margin-left:auto !important;
	margin-right:auto !important;
	width:600px !important;
	*/
	}

#sliderlabels li{
	position: relative;	
	}

#jsPsychTarget table{
	margin: auto;
}

#retroaction{
    display: block;
    margin-right: 0px;
    font-size: 10pt;
    line-height: 0.5em;
    margin-left: auto;
    width: 200px;
}
#retroaction p{
    margin-top: 2px;
    margin-bottom: 2px;
}
.feedback{
    font: 14pt;
    font-weight: 600;
    display: block;
    text-align: center;
    margin: auto;
}
.error{
    color: #B40404;
    font: 24pt;
}
.correct{
    color: #04B404;
    font: 24pt;
}

#expForm div.pseudoTableRow label {
    display: inline-block;
    padding-left: 0px;
    margin-right: 10px;
}

#advice {
  float: left;
  width: 200px;
  position: relative;
  margin: 0px;
  background-color: rgb(250, 255, 189);
  top: 8px;
  padding: 7px;
  border-radius: 6px;
  box-shadow: -1px 2px 5px 2px black;
}

.jspsych-genstim {
      width: 300px;
      height: 300px;
      display: block;
      margin: 0 auto;
      text-align: center;
}

/*********************** jsTree styles *********************************/
.vakata-context{
	z-index:4;
}