/*  

CSS file for the web experiment on Categorization and Categorical Perception

author: Daniel Rivas
23-08-2014
*/



@font-face{
    font-family: "Titillium-Web";
    src: url('Titillium_Web/TitilliumWeb-Regular.ttf'),
        url('Titillium_Web/AdventPro-Regular.eot');
}

@font-face{
    font-family: "Jura";
    src: url('Jura/Jura-DemiBold.ttf');
}

p{
	font-family: inherit;
	font-size: medium;
}
:focus{outline: none;}

a{
	color: inherit;
	font-weight: bold;
	text-decoration: underline;
}

.ownline{
	display: block;
}

body, html{
	height:100%;
}
/************************* General styles ****************************/

*{
	/* margin:0px; */
	line-height: 1.2em;
	font-family: "Titillium-Web", "sans-serif";
	/* width: 100%; */
	/* color: black; */
	}

body {
	/* background-image: url("tweed.png"); */
	background-color: #f7f7f7;
	/* padding: 1px; */
	width: 100%;
	height: 100%;
	margin: 0;
	/* padding: 0 30px; */
	box-sizing: border-box;
	min-width: 1280px;
	}

.halfhalf{
	width:50%;
	display: inline-block;
	box-sizing: border-box;
	height: 100%;
	padding: 50px 30px;
}

.halfhalf p{
    font-size: 16pt;
    font-family: "Titillium-Web", sans-serif;
}

#rest{
	padding: 30px 60px;
	min-height: 600px;
	font-family: "PT Sans", sans-serif;
}

img.tiny{
	height: 38px;
	vertical-align: middle;
	-webkit-filter: grayscale(60%);
}

footer li {
	color:white;
	font-size: 9pt;
	margin: 0 15px;
}

ul.horizontal li{
	display: inline-block;
}

ul{
	padding-left:0;
	margin: 0;
}

#links{
	margin: 0px;
	text-align: center;
	padding: 0;
	/* vertical-align: bottom; */
	/* display: inline; */
	align-self: flex-end;
}

.content-pad{
	padding: 30px;
	width:100%;
}

.center{
	text-align:center;
}
/********************************** Home Page styles **********************************/

h1{
	margin:0;
}

#taglines{
	position:relative;
	/* text-align: center; */
	color: rgba(210,75,61,1);
	/* background-color: rgba(245, 245, 220, 0.7); */
	text-transform: uppercase;
	display: inline-block;
	/* margin: 0 auto; */
	height: 100px;
}

#taglines ul{
	/* display: inline; */
	margin: auto 0;
	/* text-align: center; */
	margin-top: 40px;
	/* height: 100%; */
	/* width: 100%; */
	padding: 10px;
	background-color: rgba(222, 184, 135, 0.4);
}

#taglines li{
	/* display:inline-block; */
	font-size: 19pt;
	font-weight: 800;
	text-align: left;
}

#main-banner{
	text-align:center;
	height: 100px;
}

#brain-icon{
	height: 40px;
	fill: aquamarine;
}

#welcome{
	font-size: 24pt;
	width: 50%;
	/* display: inline-block; */
	/* padding: 60px; */
	text-align: right;
	font-family: "Titillium-Web", sans-serif;
	padding-left: 10%;
}

#description{
	/* width:50%; */
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: flex-start; */
	vertical-align: center;
	/* padding: 60px; */
	font-size: 16pt;
	font-family: "Titillium-Web";
}

#main-image{
	background-image: url("labstaff.jpg");
	background-size: cover;
	background-position: 50% 10%;
	height: 700px;
	position: absolute;
	top: 0px;
	width: 100%;
	left: 0px;
	/* z-index: 1; */
	-webkit-filter: saturate(70%);
}

#below{
	position: relative;
	/* top: 350px; */
	margin-top: 450px;
	/* height: 200px; */
	background-color: #6d6d6d;
	color: white;
	font-family: "Titillium-Web";
	display: flex;
	align-items: center;
	min-height: 400px;
}
/***************************** Basic Template *****************************/

header {
	background-image: linear-gradient();
	/* border-radius: 8px 8px 0px 0px; */
	color: #e0e0e0;
	font-family: "Titillium-Web", "Lucida Grande", sans-serif;
	/* min-height:140px; */
	background-color: rgba(247, 247, 247, 1);
	display: table;
	width: 100%;
	vertical-align: bottom;
	/* border-bottom: solid 1px black; */
	position: relative;
	text-align: inherit;
	padding-top: 80px;
	z-index: 2;
	min-width: 1000px;
	/* opacity: 0.6; */
	}





#hidden-login{
	display: none;
	background-color:#EAEAEA;
}

#subtitle{
    margin-top: 0px;
    margin-left: 20px;
    position: relative;
    top: -5px;
	color: inherit;
}

#banner{
    height: 70px;
    width: 520px;
    /* margin-top: 40px; */
    display: inline;
    vertical-align: bottom;
    padding-left: 10px;
    /* -webkit-filter: saturate(170%) contrast(130%); */
}

#top{
    height: 0px;
    width: 0px;
}
	
#page {
	/* margin-top: 20px; */
	/* margin-bottom:30px; */
	/* width: 1280px; */
	/* border-radius:8px; */
	/* margin-left: auto; */
	/* margin-right: auto; */
	/* box-shadow: -10px 10px 10px #252525; */
	/* resize: horizontal; */
	width: 100%;
	height: 100%;
	/* margin: 0 10px; */
	/* box-sizing: content-box; */
	position: relative;
	}
	
header h1, h3 {
	margin: 6px;
    margin-top: 0px;
	}
	
header:after{
	content : "";
	position: absolute;
	left    : 0;
	bottom: 0px;
	/* height: 10px; */
	width: 80%;  /* or 100px */
	border-bottom: 1px solid #5d5c5c;
	display: block;
	/* margin: 0 -20px; */
	background-color: #9a9999;
}


#content{
	background-color:#EAEAEA;
	vertical-align:top;
	padding: 35px 5%;
	min-height: -webkit-calc(100% - 150px);
	font-family: "PT Sans", sans-serif;
	}
	

	
footer	{
	/* background-image: url('txture.png'); */
	/* border-radius: 0px 0px 8px 8px; */
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 6px;
	min-height: 80px;
	vertical-align:bottom;
	/* margin-top: 30px; */
	background-color: #bdbdbd;
	/* position: relative; */
	display: flex;
	justify-content: center;
	}
		
footer:before{
	/* content : ""; */
	position: relative;
	right: 0px;
	top: 0px;
	/* height: 1px; */
	width: 80%;  /* or 100px */
	border-bottom: 1px solid #5d5c5c;
	display: block;
	/* margin: 0 -20px; */
	background-color: #9a9999;
	z-index: 3;
}
		
p, a, h3	{
	font-family: "PT Sans", "Lucida Grande", sans-serif;
	font-size: 11pt;
	/* margin-top:15px; */
	margin-bottom:15px;
	}
	
li	{
	/* margin-top:5px; */
	/* margin-bottom: 5px; */
	/* font-family: "Titillium-Web", "Lucida Grande", sans-serif; */
	font-size: 12pt;
	color: inherit;
	}
	
/********************** NavBar styles **************************/	

nav{
	padding-bottom: 7px;
	/* background: #000000; */
	color: #eaeaea;
	/* padding-left: 30px; */
	display: table-cell;
	vertical-align: bottom;
	margin-left: 20px;
}

nav li{
	display: inline;
	margin: 0 30px;
	/* float: right; */
}

ul.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* min-height: 25px; */
	text-align: right;
}

button a{
    text-decoration: none;
    color: #EAEAEA;
}
button:hover{
	background:#384550;
	}

#jsPsychTarget{	
	/* text-align: left; */
	min-height:500px;
	padding: 10px;
	/* text-align: center; */
	display: block;
}
	
#jsPsychTarget img{
	display:block;
}

#jsPsychTarget button{
	display: block;
	margin: 0 auto;
}

.prompt, .feedback{
	text-align: center;
	font-size: 16pts;
}

.horizontal-li{
	display:inline;
}

header a{
	color: #757575;
	text-decoration: none;
	font-weight: normal;
}

.full-width {
	width: 100%;
}

#datadump{
	min-height:300px;
}

#jspsych_sim_stim{
	margin-left: auto;
	margin-right: auto;
	display: block;
    height: 310px;
    width:  310px;
	}

#jspsych-categorize-stimulus{
    margin-left: auto;
	margin-right: auto;
	display: block;
    height: 310px;
    width:  310px;
}

#jspsych-sim-stim{
	height: 310px;
	width:  310px;
	margin: auto;
	display: block;
}
	
#fixationCross{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.fix{
    margin-top: 50px;
    height: 100px;
    width:  100px;
    }

img.loader{
    width: 30px;
    height: 30px;
}
button:active{
	text-shadow: 0px 0px 0px rgba(255,255,255, .22);
	box-shadow: 0px 0px 2px #252525;
	}
	
#instructionsDown{
	text-align:center;
	}
#stimGrid td{
	margin: 15px;
}
#stimGrid img{
	height:175px;
	width:175px;
	margin:8px;
}	
#instructionsUp{
	min-height:200px;
	}
#tableHolder{
	text-align: center;
	}
#stimGrid{
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
	}

#slider{
	display:block;
	background-image: url('sliderBackground.png');
	background-size:630px 56px;
	background-position: -10px -11px;
	width: 600px;
	height:26px;
	margin-top:25px;
    margin-left: auto;
    margin-right: auto;
	}	
	
#slider span.ui-slider-handle{
	background-image: url('zd_slider_widget_knob.gif');
	height:34px;
	width:17px;
	background-size:17px 34px;
	border: none;
	top:-4px;
	}

.ui-slider .ui-slider-handle:focus{
	border:none;
	}	
	
#jsPsychTarget #sliderlabels{
	margin-left:auto !important;
	margin-right:auto !important;
	width:600px !important;
	}

#sliderlabels li{
	position: relative;	
	}

ul.langNav{
    float:none;
    list-style: none;
    color: #EAEAEA;
    width: 1280px;
    margin: auto;
    padding: 0px;
}

li a{
    /* color: inherit; */
    font-size: 14pt;
    text-decoration: none;
    /* color: inherit; */
}

/* 
a:visited {
	color: inherit;
}
*/

textarea {
    display: block;
    height: 50px;
    width: 400px;
    margin: auto;
}

canvas{
	visibility: visible;
	display:none;
}

#jsPsychTarget table{
	margin: auto;
}

input.darkbox{
    width: 150px;
    background-color: #fcebc4;
    color: #505e5e;
    border: none;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 4px;
    font-family: "Jura", sans-serif;
    border: 2px solid #f99b41;
    min-height: 20px;
    padding: 4px;
    transition: background-color 0.2s ease;
    box-shadow: inset 2px 2px 10px -2px #78705c;
    padding-left: 24px;
    min-width: 200px;
}

.darkbox:focus{
    outline: none;
    background-color: #fcf5e6;
}

header form{
    float: right;
}

header button{
    height: 24px;
    width: 60px;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: x-small;
    padding: 1px;
    color:white;
}

/*
button[type=submit]{
    background-color: #f99b41;
    color: #283947;
    border-radius: 500px;
    box-shadow: 1px 1px 1px 1px;
    margin-top: 20px;
    min-width: 100px;
}
*/
button[type=submit]:focus{
    outline: none;
}
button[type=submit]:active{
    box-shadow: none;
    position: relative;
    top: 1px;
    left: 1px;
}

form label.error {
    font-size: small;
    color: #d42000;
    display: inline-block;
    max-width: 200px;
}
form#login p{
    color: #EAEAEA;
}

.entryTitle{
    cursor: pointer;
}

.entryBody{
	margin-left: 20px;
}

/******************************** consent forms styles **********************************/
#consent{
    margin-top: 25px;
}

#consent li{
	margin-bottom: 5px;
	list-style: disc;
}

#consent ul{
	list-style: disc;
	padding-left: 40px;
}

#accept{
    margin: 0 auto;
    height:20px;
    width:20px;
    vertical-align: middle;
}

#consent .center{
	margin-top:10px;
}

#consent label{
	font-weight: bold;
}

/******************************************* WebExp styles *********************************/
div.entry{
    margin-top: 8px;
    margin-bottom: 8px;
}
#retroaction{
    display: block;
    margin-right: 0px;
    font-size: 10pt;
    line-height: 0.5em;
    margin-left: auto;
    width: 200px;
}
#retroaction p{
    margin-top: 2px;
    margin-bottom: 2px;
}
.feedback{
    font: 14pt;
    font-weight: 600;
    display: block;
    text-align: center;
    margin: auto;
}
.incorrect{
    color: #b00000;
}
.correct{
    color: #268600;
}
#expForm div.pseudoTableRow label {
    display: inline-block;
    padding-left: 0px;
    margin-right: 10px;
}

#advice {
  float: left;
  width: 200px;
  position: relative;
  margin: 0px;
  background-color: rgb(250, 255, 189);
  top: 8px;
  padding: 7px;
  border-radius: 6px;
  box-shadow: -1px 2px 5px 2px black;
}



body #page #content div.login-popup{
	padding: 0;
	margin:0;
	background-color: inherit;
	color: black;!important
}

body #page #content div.ui-dialog-titlebar.ui-widget-header{
	background-image: url('txture.png');
	color:#e2e2e2;
	font-family: "Titillium-Web", "Lucida Grande", sans-serif;
}

li{
	list-style: none;
}

#hidden-login a.button{
	color: black;
	margin: 0px 3px;
}

a, a.button, #hidden-login a {
	transition: 0.3s color;
}

a:hover, a.button:hover, #hidden-login a:hover{
	color: #EC4409;
}

.stim-table img{
	width:185px;
	margin: 5px;
}

.jspsych-genstim {
      width: 300px;
      height: 300px;
      display: block;
      margin: 0 auto;
      text-align: center;
}


/************************************ Login/sign up styles *********************************/

#provider-img-Facebook{
	height: 50px;
	width: 310px;
}
#provider-img-Google{
	height: 55px;
	width: 240px;
}
.login-btn {
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
   transition: all 0.4s ease;
   margin: 0 auto;
   display: block;
   width: 300px;
}

.login-btn:hover {
   -webkit-filter: brightness(85%);
   filter: brightness(80%);
}

input[type=text], input[type=password], input[type=select]{
	font-size: 13px;
}

#login-error{
	color: red;
	font-weight: bold;
}
img.fb-login{
	display: inline-block;
	width: 250px;
}

img.google-login{
	display: inline-block;
	width: 261px;
	margin-left: -5px;
}

.btn, button, input[type=submit] {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #939393;
  color: #ffffff;
}
a.socialaccount_provider {
    min-width: 140px;
}

.login{
	display: inline-block;
	/* padding: 10px; */
	box-sizing: border-box;
	margin: 0 auto;
	text-align: left;
}

.login input, .login label{
	display:block;
	/* width: 50%; */
	font-weight: bold;
}

.login input[type=text], .login input[type=password], .login input[type=email]{
	width: 300px;
	height: 30px;
	padding: 5px 20px;
	font-size: 13pt;
}

.login label{
	margin-bottom: 5px;
	padding-left: 15px;
	/* font-weight: 700; */
	display: inline-block;
	/* width: 110px; */
	box-sizing: border-box;
}
.login input[type=checkbox]{
	display:inline;
	width: auto;
	vertical-align: middle;
}

.login p{
	margin-bottom:5px;
	margin-top:0;
}

.login-or{
	margin-top: 20px;
	text-align: center;
	font-style: italic;
	font-size: 16pt;
	font-weight: bold;
}

#login-form{
	border: 1px solid black;
	border-radius: 5px;
	width: 400px;
	padding: 20px;
	text-align: center;
}
.socialaccount_providers{
	text-align: center;
}

#forgotpass{
	font-weight: bold;
	text-decoration: none;
	font-size: small;
}