{% load i18n %}
{% load static %}


<ul class="horizontal" id="links">
	<li>
		<a href="http://www.uqam.ca/"> <img class="tiny" src="{% static "style/logo-uqam.jpg"%}"/></a>
	</li>
	<li>
		<a href="https://www.mcgill.ca/"> <img class="tiny" src="{% static "style/McGill.gif" %}"/></a>
	</li>
	<li>
		<a href="http://www.jspsych.org/"> <img class="tiny" src="{% static "style/jspsych-logo.jpg"%}"></img></a>
	</li>
	<li>
		Powered by <a href="https://www.djangoproject.com/"><img class="tiny" src="{% static "style/django.png"%}"/></a>
	</li>
</ul>

