{% load i18n %}

<nav class="mdl-navigation">
	<a href="/" class="mdl-navigation__link">
		{% trans  "HOME" %}
	</a>
	<a href="{% url "webexp:profiles:personal" %}" class="mdl-navigation__link">
		{% trans "PROFILE" %}
	</a>
	<a href="{% url "webexp:home" %}" class="mdl-navigation__link">
		{% trans "PERCEPT eLAB" %}
	</a>

	{% if user.is_authenticated %}
	<a href="{% url "account_logout" %}" class="mdl-navigation__link">{% trans "LOGOUT" %} </a>
	{% else %}
	<a id="sign-in-popup" href="/" class="mdl-navigation__link button">{% trans "SIGN IN" %}</a>
	{% endif %}
	{% if user.is_staff %}
	<a href="{% url "admin:index" %}" class="mdl-navigation__link">
		{% trans "ADMIN" %}
	</a>
	{% endif %}
</nav>