{% load i18n %}
{% load navbar_tags %}

<nav id = "djpsych-perceptnavbar"> 
	<ul id = "djpsych-navlist">
		<li>
			<a href="{% url "webexp:home" %}">
			{% trans "Home" %}
			</a>
		</li>
		<li>
			<a href="{% url "webexp:profiles:personal" %}">
			{% trans "My profile" %}
			</a>
		</li>
		<li>
			<a href="{% url "webexp:allExperiments" %}">
			{% trans "Browse experiments" %}
			</a>
		</li>
		<li>
			<a href="/">
				{% trans "Learning about us" %} 
			</a>
			<ul>
				<li>
					<a href="/">
						{% trans "Researchers" %} 
					</a>
				</li>
				<li>
					<a href="/">
						{% trans "Participants" %} 
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="/">
				{% trans "Contact us" %}
			</a>
		</li>
		<li>
			{% show_experiments %}
		</li>
	</ul>
</nav>
