{% comment %}
This is the base html template to use with the site.
note that it is not namespaced (it's not place inside an expManager directory within 'templates') so that 
we can refer to it with less typing.

Here is a list of the expandable block names:

title	the title of the page
head	additional things to add to the head like more css files and linked javascript modules
content	Well, the content of the page

@author Daniel Rivas
{% endcomment %}

{% load static from staticfiles %}
{% load i18n %}
{% load socialaccount %}

{% get_providers as socialaccount_providers %}
{% get_current_language as lang %}
<!doctype html>
<html lang="{{ lang }}">
<head>
	
    <link rel="icon" type="image/ico" href="{% static 'style/labologofullnostrokepale.png' %}" />
	<meta charset="utf-8"/>
	<title>{% block title%} Laboratoire Cognition communication UQAM {% endblock %}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"></link>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="{% static 'homePageUtilities.js' %}"></script>
    <script src="{% static 'jspsych.js' %}"></script>
    <script src="{% static 'ajax_setup.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style/theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/bootstrap-social.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/font-awesome-4.6.3/css/font-awesome.min.css' %}">
    {% block head %}{% endblock %}
    
</head>
<body>
	<div id="page">
		<header>
			<img src="{% static 'style/Banner.png'%}" alt="Cognition - Communication" id="banner"/>
			{%include "includes/navbar.html" %}
			<a id='top'></a>
		</header>
		<div id="hidden-login">
			
			<div class="login-panel">
				<p>{% trans "You can login or register using your existing account for: "%}</p>
				{% for provider in socialaccount_providers %}
				<li>
				  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
				     href="{% provider_login_url provider.id process="login" %}"><img src="{% static "style/"%}provider-img-{{ provider.name }}.png" id="provider-img-{{ provider.name }}" class="login-btn"/></a>
				</li>
				{% endfor %}
			</div>
			<div class="login-panel">
				<p>{% trans "or with regular, boring, username and password" %}</p>
				<form class="login" method="POST" action="{% url 'account_login' %}" id="hidden-login-form">
					{% csrf_token %}
					{{ login_form.as_ul }}
					<a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> 
					<a class="button secondaryAction" href="{% url 'account_signup' %}?next={{ request.get_full_path }}"> {% trans "Create account" %}</a>
		 			<input type="hidden" name="next" value="{{ request.get_full_path }}" />
		 			</br>
		 			<button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
	 			</form>
 			</div>
 			<span id="login-error"></span>
		</div>
		<div id='content'>
			{% block content %}
			<p>Bonjour!</p>
			{% endblock %}
		</div>
		<footer id='footer'>
			{% include "includes/footer.html" %}
		</footer>
	</div>
</body>
