{% comment %}
This is the base html template to use with the site.
note that it is not namespaced (it's not place inside an expManager directory within 'templates') so that 
we can refer to it with less typing.

Here is a list of the expandable block names:

title	the title of the page
head	additional things to add to the head like more css files and linked javascript modules
content	Well, the content of the page

@author Daniel Rivas
{% endcomment %}

{% load static from staticfiles %}
{% load i18n %}
{% load socialaccount %}

{% get_providers as socialaccount_providers %}
{% get_current_language as lang %}
<!doctype html>
<html lang="{{ lang }}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/ico" href="{% static 'style/labologofullnostrokepale.png' %}" />
	<meta charset="utf-8"/>
	<title>{% block title%} Laboratoire Cognition communication UQAM {% endblock %}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"></link>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-deep_orange.min.css" />
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
	
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	
    <script src="{% static 'homePageUtilities.js' %}"></script>
    <script src="{% static 'jspsych.js' %}"></script>
    <script src="{% static 'ajax_setup.js' %}"></script>
    <script src="{% static 'dialog-polyfill.js'%}"></script>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<!--     <link rel="stylesheet" type="text/css" href="{% static 'style/theme.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'style/MDL-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style/bootstrap-social.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/font-awesome-4.6.3/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "dialog-polyfill.css"%}"></link>
    <link rel="stylesheet" type="text/css" href="{% static "style/octicons/octicons.min.css"%}"></link>
    
    {% block head %}{% endblock %}
</head>

<body>
	{% include "includes/login_dialog.html" %}
	<div class="mdl-layout mdl-js-layout mdl-layout--no-drawer-button">
		<header class="mdl-layout__header {{ header_type|default:"mdl-layout__header--waterfall" }} mdl-layout__header--waterfall-hide-top mdl-color--grey-600" id="djpsych-header">
			<div class="mdl-layout-icon"></div>
			<div class="mdl-layout__header-row" id="djpsych-header__top-row">
				<div class="mdl-layout-spacer"></div>
				<span class="mdl-layout__title"> <img class="mdl-layout-icon" src="{% static 'style/Banner.png'%}" alt="Cognition - Communication" id="banner"/> </span>
				<div class="mdl-layout-spacer"></div>
			</div>
			<div class="mdl-layout__header-row">
				
    			<div class="mdl-layout-spacer"></div>
				{%include "includes/navbar.html" %}
				<div class="mdl-layout-spacer"></div>
    		</div>
		</header>
		<div class="mdl-layout__drawer">
  		</div>
  		<main class="mdl-layout__content">
  			<div class="page-content">
  				{% block content %}
				<p>Bonjour!</p>
				{% endblock %}
  			</div>
  			<footer id='footer' class="mdl-mega-footer">
			{% include "includes/footer.html" %}
			</footer>
		</main>
	</div>
</body>
