{% extends "base.html" %}
{% load static from staticfiles %}
{% comment %}  
The home page for our web experiment platform, ready to present and link to multiple experiments!
This template expects a particular context variable: manips

manips	an array of arrays, each top level array representing an experiment as set in settings.LOCAL_APPS
		inner will contain app-level configurations like the name, description, estimated length, type, etc
		this will obviously be set by the view rendering this template
		
{% endcomment %}
{% block head %}

{% endblock %}

{% block content %}
<h1>Nos projets de recherches sur le Web</h1>
<p>
	Dans notre labo, nous menons non seulement des expériences combinant des données behaviorales et des potentiels evoqués,
	mais aussi des simulations sur des réseaux de neurones artificiels. Cependant ce n'est pas tout le monde qui a le goût de se déplacer
	au labo et de se faire placer un <a href="http://www.biosemi.com/pics/apply_cap2_large.jpg">chapeau EEG rempli de gel!</a>
</p>
<p>
	C'est pourquoi nous avons développé des expériences de psychologie cognitive sur le web. En participant, vous nous aidez à atteindre nos 
	objectifs de recherche, vous découvrerez peut-être des choses sur votre fonctionnement cognitif, et vous pouvez même être rémunéré(e) par
	<a href="http://paypal.com"> Paypal </a>!
</p>
<p>
	Voyez ci-dessous une liste des expériences actuellement disponibles. Cliquez pour en savoir plus ou participer!
</p>
<ul id="available-exp">
	{% for manip in manips %}
	<li>
		<a href="{% url 'webexp:lobby' manip.label%}"> {{ manip.verbose_name }} </a>	
	</li>
	{% endfor %}
</ul>
{% endblock %}