{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load experiment_tags %}
{% comment %}  
The home page for our web experiment platform, ready to present and link to multiple experiments!
This template expects a particular context variable: manips

manips	an array of arrays, each top level array representing an experiment as set in settings.LOCAL_APPS
		inner will contain app-level configurations like the name, description, estimated length, type, etc
		this will obviously be set by the view rendering this template
		
{% endcomment %}
{% block head %}

{% endblock %}

{% block content %}
<div class="mdl-grid" id="djpsych-webexp">
	
	<div class="mdl-cell mdl-cell--2-col" id="djpsych-percept-navbar">
		<h5>PERCEPT</h4>
		<h6>{% trans "Online Lab"%}</h5>
		{% include "includes/platform_navbar.html"%}
	
	</div >
	
	
	<div class="mdl-cell mdl-cell--9-col djpsych-percept-content">
		{% block percept-content %}
		<h1>{% trans "Our web-based research projects" %}</h1>
		<p>
			{% trans "In our lab, we conduct not only experiments combining behavioural data and ERPs, but also simulations of artificial neural networks. However, not everyone is willing to come out to the lab and have to wear an" %} 
			<a href="http://www.biosemi.com/pics/apply_cap2_large.jpg"> {% trans "EEG cap full of gel!" %} </a>
		</p>
		<p>
			{% trans "That`s why we have created cognitive psychology experiments online. By participating, you are helping us reach our research objectives and at the same time you might learn something about your own cognition. You will also have the opportunity to be paid for your contribution via" %}
			<a href="http://paypal.com"> {% trans "Paypal" %} </a> {% trans "!"%}
		</p>
		<p>
			{% trans "Below you will see a list of experiments currently available for participation. Click on one of them to find out more or to participate!" %}
		</p>
		<div id="available-exp">
			{% for manip in manips %}
			
				{% cardify manip %}
			
			{% endfor %}
		</div>
	
		{% endblock %}
	</div>
	<div class="mdl-cell mdl-cell--1-col">
	
	</div>
</div>
{% endblock %}