{% load i18n %}

<nav id = "djpsych-perceptnavbar"> 
	<ul id = "djpsych-navlist">
		<li>
			<a href="{% url "webexp:home" %}">
			{% trans "Home" %}
			</a>
		</li>
		<li>
			<a href="{% url "webexp:profiles:personal" %}">
			{% trans "My profile" %}
			</a>
		</li>
		<li>
			<a href="{% url "webexp:allExperiments" %}">
			{% trans "Browse exoeriments" %}
			</a>
		</li>
		<li>
			<a href="{% url "" %}">
				{% trans "Learning about us" %} 
			</a>
			<ul>
				<li>
					<a href="{% url "" %}">
						{% trans "Researchers" %} 
					</a>
				</li>
				<li>
					<a href="{% url "" %}">
						{% trans "Participants" %} 
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="{% url "" %}">
				{% trans "Contact us" %}
			</a>
		</li>
		<li>
			<h1>{% trans "My experiments" %}</h1>
			<ul>
				{% for experiment in researcher_experiments %}
					<li>
						<a href = "../{{experiment.label}}"> 
							{{experiment.verbose_name}}
						</a>
					</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</nav>
