{
	"SECRET_KEY": "8_18m2k=5l18qk@n39jd*y_yd8wi(xy@*vn+^m_d2*rln72rjk",
	
	"FILENAME": "secrets.json",
	
	"MYSQL_CREDS":{
        "ENGINE": "django.db.backends.mysql",
        "NAME": "myMySQLDatabaseName",
        "USER": "MySQLUserName",
        "PASSWORD": "MySQLpasswordforthatuser",
        "HOST": "localhostOrWhereverYourDatabaseLives",
        "PORT": ""
	},
	
	"GMAIL_ACCOUNT_NAME": "example@gmail.com",
	"GMAIL_ACCOUNT_PASSWORD": "youremailpassword"
}