{% load i18n %}

<form id='exp-probe' method='post' class="mdl-shadow--3dp">
	<fieldset>
	    <legend>{% trans "Progression questionnaire" %}</legend>
	    <p>{% trans "How hard do you find the task up until now?" %} </p>
	    <label for='very-easy' class="mdl-radio mdl-js-radio">
	    	<input id='very-easy' name='difficulty' value='1' type='radio' class="mdl-radio__button"/>
	    	<span class="mdl-radio__label"> {% trans "Very easy" %} </span>
	    </label>
	    <label for='somewhat-easy' class="mdl-radio mdl-js-radio">
	    	<input id='somewhat-easy' name='difficulty' value='2' type='radio' class="mdl-radio__button"/>
	    	<span class="mdl-radio__label"> {% trans "Somewhat easy" %} </span>
	    </label>
	    <label for='somewhat-difficult' class="mdl-radio mdl-js-radio">
	    	<input id='somewhat-difficult' name='difficulty' value='3' type='radio' class="mdl-radio__button"/>
	    	<span class="mdl-radio__label"> {% trans "Somewhat difficult" %} </span>
	    </label>
	    <label for='very-difficult' class="mdl-radio mdl-js-radio">
	    	<input id='very-difficult' name='difficulty' value='4' type='radio' class="mdl-radio__button"/>
	    	<span class="mdl-radio__label"> {% trans "Very easy" %} </span>
	    </label>
		
		<p>{% trans "Have you found a rule to categorize textures" %}</p>
		<label for='oui' class="mdl-radio mdl-js-radio">
	    	<input id='oui' name='ruleFound' value='yes' type='radio' class="mdl-radio__button"/>
	    	<span class="mdl-radio__label"> {% trans "Yes" %} </span>
	    </label>
		<label for='non' class="mdl-radio mdl-js-radio">
			<input id='non' name='ruleFound' value='no' type='radio' class="mdl-radio__button"/>
			<span class="mdl-radio__label"> {% trans "No" %} </span>
		</label>
		
        <div class="mdl-textfield mdl-js-textfield">
        	<textarea name='ruleDescription' class="mdl-textfield__input" type="text"> </textarea>
        	<labe class="mdl-textfield__label" for="ruleDescription">{% trans "If you said yes, please describe your rule so far: " %}</label>
        </div>
		
		<div class="mdl-textfield mdl-js-textfield">
        	<textarea name='stratDescription' class="mdl-textfield__input" type="text"> </textarea>
        	<labe class="mdl-textfield__label" for="stratDescription">{% trans "If you said no, describe the strategy that you use (even if you choose at random!): " %}</label>
        </div>
        
		<button type='button' id='ctn-button' class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">{% trans "Submit" %}</button>
	</fieldset>
	<script>
		if(!(typeof(componentHandler) == 'undefined')){
		      componentHandler.upgradeAllRegistered();
		  }
	</script>
</form>