{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'djexperiments/simcat/generator.css' %}">

<script src="{% static 'djexperiments/simcat/stimEngine.js' %}"> </script>
<script src="{% static 'djexperiments/simcat/stimUI.js' %}"> </script>
<script src="{% static 'FileSaver.min.js' %}"></script>
<script src="{% static 'jszip.min.js' %}"></script>
<script>
$(function(){

	var generatorWidget = StimUI($("#stimUI-table"), {{ microcomponents|safe }});
	generatorWidget.init();

});
</script>
{% endblock %}

{% block content %}
<h1> {% trans "Texture Generator" %}</h1>
<form class="stimUI-form" id="stimUI-config">

	<h2> {%trans "Microcomponent pairs"%} </h2>
	<table id="stimUI-table"></table>
	<button id="stimUI-addcolbtn"> {% trans "Add Pair" %}</button>
	<button id="stimUI-rmvcolbtn"> {% trans "Remove Pair" %}</button>
	<fieldset>
		<legend> {% trans "Options" %}</legend>
		<label for="density"> {% trans "Density" %}</label>
		<input type="number" name="density" id="stimUI-density"></input>
		<label for="quantity"> {% trans "# of pairs" %}</label>
		<input type="number" name="quantity" id="stimUI-quantity"></input>
		<button id="stimUI-renderbtn"> {% trans "Generate Textures" %}</button>
	</fieldset>

</form>



<canvas display="none" height="400" width="400" id="board"></canvas>
{% endblock %}