{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'djexperiments/simcat/generator.css' %}">
<script src="{% static 'djexperiments/simcat/stimEngine.js' %}"> </script>
<script src="{% static 'djexperiments/simcat/stimUI.js' %}"> </script>
<script>
$(function(){

	var generatorWidget = StimUI($("#content"), {{ microcomponents|safe }});
	generatorWidget.init();

});
</script>
{% endblock %}

{% block content %}
<h1> {% trans "Texture Generator" %}</h1>

<canvas display="none" height="400" width="400" id="board"></canvas>
{% endblock %}