{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="rubrique" id="login-text">
	<h1>{% trans "Sign In" %}</h1>
	
	{% get_providers as socialaccount_providers %}
	
	{% if socialaccount_providers %}
		<p>
		{% blocktrans  %}
		We need to authenticate you before you can access this resource! <br><br>
		You can easily sign in with one of your existing accounts at these sites:{% endblocktrans %}
		</p>
		<div id="login-form">
			<div class="socialaccount_ballot">
			
			  <ul class="socialaccount_providers horizontal">
			    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
			  </ul>
			</div>
			
			<div class="login-or">{% trans 'OR' %}</div>
			{% include "socialaccount/snippets/login_extra.html" %}
			<form class="login" method="POST" action="{% url 'account_login' %}">
			  {% csrf_token %}
			  {{ form.as_p }}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <button class="primaryAction ownline" type="submit">{% trans "Sign In" %}</button>
			  <a class="secondaryAction ownline" href="{% url 'account_reset_password' %}" id="forgotpass">{% trans "Forgot Password?" %}</a>
			  
			</form>
			
			<p> 
				{%blocktrans with site.name as site_name %} If you did not create an account with us, please <a href="{{ signup_url }}">sign up</a>
				and come back!</p>{% endblocktrans %} 
			</div>
		</div>
		
		
		
	
	{% else %}
	<p>{% blocktrans %}If you have not created an account yet, then please
	<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
	{% endif %}
	
	
</div>
{% endblock %}
